@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your other global CSS can go here */
body {
  margin: 0;
  font-family: 'Inter', sans-serif; /* Ensure Inter is applied globally */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
